<?xml version="1.0" encoding="UTF-8"?>
<robot name="kuka_kr210">
  <link name="world"/>
  <link name="base_link">
    <visual><geometry><mesh filename="package://robot_gazebo_sim/meshes/kuka_kr210/base_link.stl"/></geometry></visual>
    <collision><geometry><mesh filename="package://robot_gazebo_sim/meshes/kuka_kr210/base_link.stl"/></geometry></collision>
  </link>
  <link name="Link_1">
    <visual><geometry><mesh filename="package://robot_gazebo_sim/meshes/kuka_kr210/Link_1.stl"/></geometry></visual>
    <collision><geometry><mesh filename="package://robot_gazebo_sim/meshes/kuka_kr210/Link_1.stl"/></geometry></collision>
  </link>
  <link name="Link_2">
    <visual><origin xyz="-0.414999978 0.329999993 -0.000151738025" rpy="-1.57059265 -0.000203673201 -1.57079637"/><geometry><mesh filename="package://robot_gazebo_sim/meshes/kuka_kr210/Link_2.stl"/></geometry></visual>
    <collision><origin xyz="-0.414999978 0.329999993 -0.000151738025" rpy="-1.57059265 -0.000203673201 -1.57079637"/><geometry><mesh filename="package://robot_gazebo_sim/meshes/kuka_kr210/Link_2.stl"/></geometry></collision>
  </link>
  <link name="Link_3">
    <visual><origin xyz="0.000234224184 -1.14999998 0" rpy="0 0 1.571"/><geometry><mesh filename="package://robot_gazebo_sim/meshes/kuka_kr210/Link_3.stl"/></geometry></visual>
    <collision><origin xyz="0.000234224184 -1.14999998 0" rpy="0 0 1.571"/><geometry><mesh filename="package://robot_gazebo_sim/meshes/kuka_kr210/Link_3.stl"/></geometry></collision>
  </link>
  <link name="Link_4"/>
  <link name="Link_5">
    <visual><geometry><mesh filename="package://robot_gazebo_sim/meshes/kuka_kr210/Link_5.stl"/></geometry></visual>
    <collision><geometry><mesh filename="package://robot_gazebo_sim/meshes/kuka_kr210/Link_5.stl"/></geometry></collision>
  </link>
  <link name="Link_6">
    <visual><origin xyz="-0.339999993 0 -0.0000692501098" rpy="0 1.57059265 0"/><geometry><mesh filename="package://robot_gazebo_sim/meshes/kuka_kr210/Link_6.stl"/></geometry></visual>
    <collision><origin xyz="-0.339999993 0 -0.0000692501098" rpy="0 1.57059265 0"/><geometry><mesh filename="package://robot_gazebo_sim/meshes/kuka_kr210/Link_6.stl"/></geometry></collision>
  </link>
  <link name="Link_7"/>

  <joint name="Joint_0" type="fixed">
    <parent link="world"/><child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="Joint_1" type="revolute">
    <parent link="base_link"/><child link="Link_1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/><axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="1"/>
  </joint>
  <joint name="Joint_2" type="revolute">
    <parent link="Link_1"/><child link="Link_2"/>
    <origin xyz="0.33 0 0.645" rpy="0 -1.57059265 1.571"/><axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="1"/>
  </joint>
  <joint name="Joint_3" type="revolute">
    <parent link="Link_2"/><child link="Link_3"/>
    <origin xyz="1.15 0 0" rpy="0 0 -1.571"/><axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="1"/>
  </joint>
  <joint name="Joint_4" type="revolute">
    <parent link="Link_3"/><child link="Link_4"/>
    <origin xyz="0.88 0.115 0" rpy="0 1.5706 0"/><axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="1"/>
  </joint>
  <joint name="Joint_5" type="revolute">
    <parent link="Link_4"/><child link="Link_5"/>
    <origin xyz="0 0 0" rpy="0 0 0"/><axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="1"/>
  </joint>
  <joint name="Joint_6" type="revolute">
    <parent link="Link_5"/><child link="Link_6"/>
    <origin xyz="0 0 0.34" rpy="0 -1.57059265 0"/><axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="1"/>
  </joint>
  <joint name="Link_6_to_Link_7" type="fixed">
    <parent link="Link_6"/><child link="Link_7"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>
